page-new-order {

	.contain-background {
	  background-image: url('../assets/imgs/fond.png');
	  width: 100%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: cover;
	}
	
	img {
		height: 170px;
	}
	
	ion-label {
		font-size: 26px!important;
		font-family: 'MuseoSlab900', Arial, sans-serif;
		color: #7b7b7b;
	}
	
	#M, #L, #XL, #XXL {
		font-size: 42px!important;
		font-family: 'MuseoSlab900', Arial, sans-serif;
		/*color: #7b7b7b;*/
	}
	
	#M {
		color: green;
	}
	
	#L {
		color: #e6e600;
	}
	
	#XL {
		color: orange;
	}
	
	#XXL {
		color: red;
	}
	
	ion-item {
		height: 100px;
		margin-bottom: 4px!important;
		border-left: 10px solid #f4b642!important;
	}
	
	.itacos {
		height: 180px;
		text-align: center;
	}
	
	.text-left {
		text-align: left;
	}
	
	.ifrites {
		height: 220px;
	}
	
	.iboissons {
		height: 130px;
	}
	
	.iviandes {
		height: 130px;
	}
	
	.hidden {
		visibility: hidden;
	}
	
	h1 {
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: fantasy;
		color: #f4cd41;
		font-size: 34px!important;
		margin: 0px!important;
	}
}
