<!--
  Generated template for the NewOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nouvelle commande</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="contain-background" padding>

<ion-slides (ionSlideDrag)="slideChanged()" pager>
  <ion-slide>
	<ion-list radio-group (ionChange)="tacosChange($event)">
		
		<ion-list-header>
			<h1>ÉTAPE 1 - Tailles</h1>
		</ion-list-header>
		
		<ion-row>
		  <ion-item class="itacos" *ngFor="let t of tacos" col-md-6 col-sm-12>
			<ion-label><div id="{{t.size}}">{{t.size}}</div><i>{{t.meatNumber}} VIANDES</i></ion-label>
			<ion-radio value="{{t.articleID}}"></ion-radio>
		  </ion-item>
		</ion-row>
		
	</ion-list>
  </ion-slide>

  <ion-slide>
	<ion-list>
		
		<ion-list-header>
			<h1>ÉTAPE 2 - Viandes</h1>
		</ion-list-header>
		
		<ion-row>
		  <ion-item class="iviandes" *ngFor="let v of viandes" col-md-4 col-sm-12>
			<ion-label>{{v.type.replace('_', ' ')}}</ion-label>
			<ion-checkbox (ionChange)="viandesChange($event)"></ion-checkbox >
		  </ion-item>
		</ion-row>
		
	</ion-list>
  </ion-slide>

  <ion-slide>
	<ion-list>
	
		<ion-list-header>
			<h1>ÉTAPE 3 - Sauces</h1>
		</ion-list-header>
		
		<ion-row>
		  <ion-item *ngFor="let su of sauces" col-md-4 col-sm-12>
			<ion-label>{{su.sauceType.replace('_', ' ')}}</ion-label>
			<ion-checkbox (ionChange)="saucesChange($event)"></ion-checkbox>
		  </ion-item>
		</ion-row>
		
	</ion-list>
  </ion-slide>
  
   <ion-slide>
	<ion-list>
	
		<ion-list-header>
			<h1>ÉTAPE 4 - Suppléments</h1>
		</ion-list-header>
		
		<ion-row>
		  <ion-item *ngFor="let sp of supplements" col-md-4 col-sm-12>
			<ion-label>{{sp.type.replace('_', ' ')}}</ion-label>
			<ion-checkbox (ionChange)="supplementsChange($event)"></ion-checkbox>
		  </ion-item>
		</ion-row>
		
	</ion-list>
  </ion-slide>
  
  <ion-slide>
	<ion-list radio-group (ionChange)="fritesChange($event)">

		<ion-list-header>
			<h1>ÉTAPE 5 - Accompagnement</h1>
		</ion-list-header>
		
		<ion-row>
		  <ion-item class="ifrites" *ngFor="let f of frites" col-md-6 col-sm-12>
			<ion-label><img src="assets/imgs/{{f.articleID}}.png"/><div class="hidden">{{f.articleID}}{{f.type}}</div></ion-label>
			<ion-radio value="{{f.articleID}}"></ion-radio>
		  </ion-item>
		  <ion-item class="ifrites" col-md-6 col-sm-12>
			<ion-label>SANS</ion-label>
			<ion-radio value="sans"></ion-radio>
		  </ion-item>
		</ion-row>
	
	</ion-list>
  </ion-slide>
  
  <ion-slide>
	<ion-list>
	
		<ion-list-header>
			<h1>ÉTAPE 6 - Boissons</h1>
		</ion-list-header>
		
		<ion-list>
		  <ion-item>
			<ion-label>Boisson</ion-label>
			<ion-select (ionChange)="boissonsChange($event)" cancelText="Annuler" okText="Ok">
			  <ion-option value="sans">Sans</ion-option>
			  <ion-option selected="true" value="33cl">33 cl</ion-option>
			  <ion-option value="50cl">50 cl</ion-option>
			</ion-select>
		  </ion-item>
		</ion-list>
		
	</ion-list>
  </ion-slide>
  
	<ion-slide>
		<h1>Récapitulatif</h1>
		
		
			<ion-grid>
			  <ion-row>
				<ion-col>
				  <ion-card>
					  <ion-card-header>
						<div id="{{currentCommande.tailleTacos}}">{{currentCommande.tailleTacos}}</div>
					  </ion-card-header>
					</ion-card>
				</ion-col>
				<ion-col>
				  <ion-card>
					  <ion-card-header class="text-left">
						<p>Viande(s) &#8594; {{currentCommande.viande}} </p>
						<p>Supplément(s) &#8594; {{currentCommande.supplement}} </p>
						<p>Accompagnement &#8594; {{currentCommande.frite}} </p>
					  </ion-card-header>
					</ion-card>
				</ion-col>
				<ion-col>
				  <ion-card>
					  <ion-card-header class="text-left">
						<p>Sauce(s) &#8594; {{currentCommande.sauce}} </p>
						<p>Boisson &#8594; {{currentCommande.boisson}}</p>
					  </ion-card-header>
					</ion-card>
				</ion-col>
			  </ion-row>
			</ion-grid>
		


		<ion-list radio-group (ionChange)="placeChange($event)">
			<ion-row>
				<ion-item col-md-6 col-sm-12>
					<ion-label>A EMPORTER</ion-label>
					<ion-radio value="A_EMPORTER"></ion-radio>
				</ion-item>
				<ion-item col-md-6 col-sm-12>
					<ion-label>SUR PLACE</ion-label>
					<ion-radio value="SUR_PLACE"></ion-radio>
				</ion-item>
			</ion-row>
		</ion-list>
		
		<button ion-button icon-end (click)="valider()">
			Valider ma commande
			<ion-icon name="checkmark-circle-outline"></ion-icon>
		</button>
	</ion-slide>
	
</ion-slides>

</ion-content>
