<!--
  Generated template for the OrderStatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Changement d'état d'une commande</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>Seletionnez le nouvel état dans la liste ci-dessous</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
	<ion-item>
	  <ion-label>Nouvel etat</ion-label>
	  <ion-select [(ngModel)]="currState" (ngModelChange)="onChangeState($event)">
		<ion-option value="EN_ATTENTE">EN ATTENTE</ion-option>
		<!--<ion-option value="EN_PREPARATION">EN PREPARATION</ion-option>-->
		<ion-option value="TERMINEE">TERMINEE</ion-option>
		<!--<ion-option value="EN_LIVRAISON">EN LIVRAISON</ion-option>
		<ion-option value="LIVREE">LIVREE</ion-option>-->
	  </ion-select>
	</ion-item>
	<br /><br />
	<ion-buttons end>
		<button ion-button icon-only (click)="closeModal()">
			  &nbsp;&nbsp;Fermer la fenêtre<ion-icon item-right name="ios-close-outline"></ion-icon>
		</button>
	</ion-buttons>
</ion-content>
