page-order-list {
	
	.contain-background {
	  background-image: url('../assets/imgs/fond.png');
	  width: 100%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: cover;
	}
	
	.iwaiting {
		height: 200px;
	}
	
	.circle {
		border-radius: 100%;
		border: 3px double  #f4b042;
		width: 45px;
		height: 45px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	
	span#prix {
		font-size: 2em!important;
	}
	span#viandes, span#typeCmd, span#sauces, span#supplements, span#boissons, span#frite {
		font-size: 1.4em!important;
	}
	.nowrap {
		white-space: nowrap;
	}
	
		
}
