<!--
  Generated template for the OrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Liste des commandes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="contain-background" padding>

	<ion-item>
	  <ion-label>FILTRER </ion-label>
	  <ion-select [(ngModel)]="filterStateValue" (ngModelChange)="onChangeStateF($event)" >
		<ion-option value="EN_ATTENTE">EN ATTENTE</ion-option>
		<!--<ion-option value="EN_PREPARATION">EN PREPARATION</ion-option>-->
		<ion-option value="TERMINEE">TERMINEE</ion-option>
		<!--<ion-option value="EN_LIVRAISON">EN LIVRAISON</ion-option>
		<ion-option value="LIVREE">LIVREE</ion-option>-->
	  </ion-select>
	</ion-item>
	
	<ion-list>
		<div *ngFor="let wo of selectedOrders" >
		  <ion-item class="iwaiting">
			
			<ion-thumbnail item-start>
			  <img src="assets/imgs/waitingState.png"/>
			</ion-thumbnail>
			<div class="circle"><h2>{{wo.Commande.menus[0].articles[0].tacos.size}}</h2></div>
			<p><span id="prix">{{wo.Commande.prixTotal}} €</span> • <span id="typeCmd"> {{wo.Commande.typeCommande.replace('_', ' ')}}</span></p>
			<p><span id="viandes">{{viandesStringify(wo.Commande.menus[0].articles)}}</span></p>
			<p><span id="sauces">{{saucesStringify(wo.Commande.menus[0].articles)}}</span></p>
			<p><span id="supplements">{{supplementsStringify(wo.Commande.menus[0].articles)}}</span></p>
			<p><span id="frite"> {{friteType(wo.Commande.menus[0].articles)}}</span> • <span id="boissons">{{tailleBoisson(wo.Commande.menus[0].articles)}}</span></p>
			<button ion-button clear item-end (click)="update(wo.Commande.cdeID, wo.Commande.etatCommande)">{{wo.Commande.etatCommande.replace('_', ' ')}}</button>
			
		  </ion-item>
		</div>
	</ion-list>

</ion-content>
