page-home {
	
	.contain-background {
	  background-image: url('../assets/imgs/fond.png');
	  width: 100%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: cover;
	}
	
	.cardMenu {
		height: 260px;
	}
	
	img {
		height: 170px;
	}

}
