<ion-header>
  <ion-navbar>
    <ion-title>Tacos Time</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contain-background" padding>
<ion-grid>
  <ion-row>
  
	<ion-col col-md-6 col-sm-12>
		<ion-card (click)="navTo('NewOrderPage')" class="cardMenu">
		  <img src="assets/imgs/cmdtacos.png"/>
		  <ion-card-content>
			<ion-card-title>
			  Commander un tacos
			</ion-card-title>
			<p>
			  <i>Taille M, L, XL, XXL</i>
			</p>
		  </ion-card-content>
		</ion-card>
	</ion-col>
	
	<ion-col col-md-6 col-sm-12>
		<ion-card (click)="navTo('OrderListPage')" class="cardMenu">
		  <img src="assets/imgs/imglstcmd.png"/>
		  <ion-card-content>
			<ion-card-title>
			  Voir les commandes
			</ion-card-title>
			<p>
			  <i>La liste de toutes les commandes</i>
			</p>
		  </ion-card-content>
		</ion-card>
	</ion-col>
	
  </ion-row>
</ion-grid>
</ion-content>
